// BLUR
@include x-keyframes(light-black) {
  from { text-shadow: 0 0 1em #000; }
  to { text-shadow: 0; }
}

@include x-keyframes(light-1) {
  from { text-shadow: 0 0 1em #f00; }
  to { text-shadow: 0; }
}

@include x-keyframes(light-2) {
  from { text-shadow: 0 0 1em #00f; }
  to { text-shadow: 0; }
}

@include x-keyframes(light-3) {
  from { text-shadow: 0 0 1em #008000; }
  to { text-shadow: 0; }
}

@include x-keyframes(light-4) {
  from { text-shadow: 0 0 1em #f9289f; }
  to { text-shadow: 0; }
}

@include x-keyframes(light-5) {
  from { text-shadow: 0 0 1em #0ff; }
  to { text-shadow: 0; }
}

@include x-keyframes(light-6) {
  from { text-shadow: 0 0 1em #f5eb29; }
  to { text-shadow: 0; }
}