html { @include x-prefix(box-sizing, border-box, webkit moz); }

* {
	margin: 0;
	padding: 0;
    
    &,
    &:before,
    &:after { @include x-prefix(box-sizing, border-box, webkit moz); }
}

body {
  font-family: Arial, Helvetica;
  font-size: 62.5%;
}

.block {
  @include x-clearfix;
  padding: 10px 100px;
  position: relative;
  text-align: center;
}

.effect {
  border-top: 4px solid #efefef;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 0 1px #999;
  padding-bottom: 1em;
}

.title {
  border-bottom: 1px dashed #000;
  color: #000;
  font-size: 4em;
  padding-left: 1em;
  text-transform: uppercase;
}

.text {
  display: block;
  font-size: 80px;
  font-weight: 700;
  text-transform: uppercase;
}