.anaglyphic {

  .block:nth-child(odd) {}
  .block:nth-child(even) {}
}

.example-anaglyphic-1 {
  display: inline;
  position: relative;
  letter-spacing: -5px;
  color: rgba(0,0,255,0.5);

  &:after {
    content: "Example";
    position: absolute; left: 5px; top: 2px;
    color: rgba(255,0,0,0.5);
  }
}
