.effect-blur-1 span:nth-of-type(1)  { @include x-prefix(animation, blackblur 2s 1 alternate); }
.effect-blur-1 span:nth-of-type(2)  { @include x-prefix(animation, blackblur 2s 0.1s  1 alternate); }
.effect-blur-1 span:nth-of-type(3)  { @include x-prefix(animation, blackblur 2s 0.15s 1 alternate); }
.effect-blur-1 span:nth-of-type(4)  { @include x-prefix(animation, blackblur 2s 0.2s  1 alternate); }
.effect-blur-1 span:nth-of-type(5)  { @include x-prefix(animation, blackblur 2s 0.25s 1 alternate); }
.effect-blur-1 span:nth-of-type(6)  { @include x-prefix(animation, blackblur 2s 0.3s  1 alternate); }
.effect-blur-1 span:nth-of-type(7)  { @include x-prefix(animation, blackblur 2s 0.35s 1 alternate); }
.effect-blur-1 span:nth-of-type(8)  { @include x-prefix(animation, blackblur 2s 0.4s  1 alternate); }
.effect-blur-1 span:nth-of-type(9)  { @include x-prefix(animation, blackblur 2s 0.45s 1 alternate); }
.effect-blur-1 span:nth-of-type(10) { @include x-prefix(animation, blackblur 2s 0.5s  1 alternate); }
.effect-blur-1 span:nth-of-type(11) { @include x-prefix(animation, blackblur 2s 0.55s 1 alternate); }
.effect-blur-1 span:nth-of-type(12) { @include x-prefix(animation, blackblur 2s 0.6s  1 alternate); }
  
.effect-blur-2 span:nth-of-type(1)  { @include x-prefix(animation, fun-1 2s 0.2s  infinite); }
.effect-blur-2 span:nth-of-type(2)  { @include x-prefix(animation, fun-2 2s 3.9s  infinite); }
.effect-blur-2 span:nth-of-type(3)  { @include x-prefix(animation, fun-3 2s 2.65s infinite); }
.effect-blur-2 span:nth-of-type(4)  { @include x-prefix(animation, fun-4 2s 2.2s  infinite); }
.effect-blur-2 span:nth-of-type(5)  { @include x-prefix(animation, fun-5 2s 1.25s infinite); }
.effect-blur-2 span:nth-of-type(6)  { @include x-prefix(animation, fun-6 2s 2.3s  infinite); }
.effect-blur-2 span:nth-of-type(7)  { @include x-prefix(animation, fun-1 2s 3.35s infinite); }
.effect-blur-2 span:nth-of-type(8)  { @include x-prefix(animation, fun-2 2s 2.4s  infinite); }
.effect-blur-2 span:nth-of-type(9)  { @include x-prefix(animation, fun-3 2s 1.45s infinite); }
.effect-blur-2 span:nth-of-type(10) { @include x-prefix(animation, fun-4 2s 3.5s  infinite); }
.effect-blur-2 span:nth-of-type(11) { @include x-prefix(animation, fun-5 2s 1.55s infinite); }
.effect-blur-2 span:nth-of-type(12) { @include x-prefix(animation, fun-6 2s 2.6s  infinite); }

.effect-blur-3 span { @include x-prefix(transition, all 0.9s ease); }
.effect-blur-3 span:hover {
	@include x-prefix(transition, all 0.2s ease);
	text-shadow: 0 0 72px #000; 
	color: transparent;
}

.effect-blur-4 {
  text-shadow: 0 0 32px #fff;
  color: transparent;
}

.effect-blur-5 {
  text-shadow: 0 0 4px rgba(0,100,0,1);
  color: transparent;
}