.flashlight {
  color: #fff;
  .block:nth-child(odd) { background: #fff; }
  .block:nth-child(even) { background: #002633; }
}

.wrap-example-flashlight-1 {
  padding: 100px;
  text-align: center;
  min-width: 500px;
  font-size: 3em;
  font-weight: bold;
  -webkit-backface-visibility: hidden;
}

.example-flashlight-1-item1 {
  display: inline-block;
  text-shadow: #bbb 0 0 1px, #fff 0 -1px 2px, #fff 0 -3px 2px, rgba(0,0,0,0.8) 0 30px 25px;
  -webkit-transition: margin-left 0.3s cubic-bezier(0, 1, 0, 1);
  transition: margin-left 0.3s cubic-bezier(0, 1, 0, 1);
}

.example-flashlight-1-item2 {
  display: inline-block;
  text-shadow: #111 0 0 1px, rgba(255,255,255,0.1) 0 1px 3px;
}

.example-flashlight-1 {
  color: hsla(0,0%,0%,0);
  -webkit-perspective: 80px;
  perspective: 80px;
  outline: none;

  &:hover {
    & .example-flashlight-1-item1 {
      margin-left: 20px;
      -webkit-transition: margin-left 1s cubic-bezier(0, 0.75, 0, 1);
      transition: margin-left 1s cubic-bezier(0, 0.75, 0, 1);
    }

    & .example-flashlight-1-item2 {
      text-shadow: #fff 0 0 4px, #fcffbb 0 0 20px;
      transform: rotateY(-60deg);
      -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 0.75, 0, 1), text-shadow 0.1s ease-out;
      transition: transform 0.3s cubic-bezier(0, 0.75, 0, 1), text-shadow 0.1s ease-out;
    }
  }
}

