// Keyframes
@mixin x-keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
      $browser: '-webkit-' !global;
      @content;
  }
  @-moz-keyframes #{$animationName} {
      $browser: '-moz-' !global;
      @content;
  }
  @-o-keyframes #{$animationName} {
      $browser: '-o-' !global;
      @content;
  }
  @-ms-keyframes #{$animationName} {
      $browser: '-ms-' !global;
      @content;
  }
  @keyframes #{$animationName} {
      $browser: '' !global;
      @content;
  }
} $browser: null;

/// Mixin to prefix a property
///
/// @param {String} $property - Property name
/// @param {*} $value - Property value
/// @param {List} $prefixes (()) - List of prefixes to print
///
@mixin x-prefix($property, $value, $prefixes: (webkit moz o ms)) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
 
  // Output standard non-prefixed declaration
  #{$property}: $value;
}